header {
    border: 1px solid goldenrod;
}

header ul {
    list-style-type: none;
    word-spacing: 70px;
}

.disabled {
    color: grey;
}

span.disabled {
    color:purple;
}

.active {
    color: yellow;
}

h4 + div > div {
    color: red;
}

h4 ~ div :nth-child(2) {
    background-color: red;
}

h4 ~ div :nth-child(3) {
    color: blue;
}

h4 ~ div :nth-child(4) {
    background-color: blue;
}

.grandparent > h4 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

.promo {
    font-weight: bold;
    color: yellow;
}

span input {
    font: 25px arial;
}